<label ng-repeat="answerset in csection.QUESTIONS.QUESTION.ANSWERSET"
       ng-init="question_id = 'page_'+ $parent.$parent.$parent.$parent.currentPageNum + '_question_' + $index; drop_down_texts = get_drop_down_text_array(displayAsText(csection.QUESTIONS.QUESTION)); (meta[question_id] === undefined)?meta[question_id]={}:meta[question_id]=meta[question_id]">

    <span ng-bind-html="drop_down_texts[$index] | sanitize"></span>

    <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched dropdownselect"
            ng-disabled = "meta[question_id].disabled" 
            ng-init="selectedItem = meta[question_id]['selected'] ? meta[question_id]['selected'] : ''" 
            ng-model="selectedItem"
            ng-options="answer.TEXT for answer in answerset.ANSWER"
            ng-selected="selectedItem.TEXT"     
            ng-change= "validate(get_correct_answer(selectedItem), question_id, answerset['@maxAttempts'],answer.TEXT, 'setMulti_Drop_down_single')">
            <option value=""></option>
    </select>
    
    <span ng-class="meta[question_id]['ansClass']" ng-show="meta[question_id]['showResult']">
        <img ng-src="{{getImagePath(meta[question_id]['isTrue'])}}"
         ng-if="meta[question_id]['selected']==answer.TEXT || meta[question_id]['selected']==answer.IMAGE || meta[question_id]['selected']==answer.AUDIO">
    </span>

    <span ng-if="$last" ng-bind-html="drop_down_texts[$index+1] | sanitize"></span>

</label>